/* General */

body {
	background: url('../images/dark-wood.png') fixed;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 87.5%;
}

h1, h2, h3, dl, p {
	margin: 0;
}

.clear {
	clear: both;
}

/* Outer container */

#outer {
	max-width: 960px;
	margin: 0 auto;
	padding-top: 10px;
}

/* Header */

header {
	margin-bottom: 18px;
	text-align: center;
}

header h1 {
	float: left;
	margin: 0;
	display: inline;
	border: 2px dashed #fff;
	padding: 0 15px; /* logo should not scale */
	font-size: 4.5em;
	font-weight: 100;
	text-shadow: 1px 1px #222;
	color: #fff;
}

header h1 span {
	font-weight: 200;
	color: #8b4513;
}

nav ul {
	float: right;
	margin: 0;
	margin-top: 34px;
}

nav li {
	display: inline;
	list-style-type: none;
	margin-left: 10px; /* cannot use percentage here as width of different words would cause inconsistent gaps in nav */
}

nav a {
	color: #8b4513;
	font-size: 2.143em;
	font-weight: 100;
	text-decoration: none;
	padding: 8px 7px; /* cannot use % here as width of different words would cause inconsistent gaps in nav */
}

nav a:hover {
	border-bottom: 2px dashed #fff;
	padding-bottom: 6px;
}

nav a:active {
	border: 2px dashed #fff;
	padding: 6px 5px; /* cannot use % here as width of different words would cause inconsistent gaps in nav */
}

/* Inner containers */

#inner,
#under {
	border: 10px solid #333;
	padding: 30px 3.125%;
}

#inner,
#under,
footer {
	font-weight: 300;
	line-height: 18px;
}

#inner {
	border-bottom: none;
	padding-bottom: 4px;
	background: url('../images/white-texture.png');
	color: #333;
	text-shadow: 1px 1px 0 #fff;
}

/* Inner sections */

#inner section h1 {
	margin-top: 30px;
	margin-bottom: 15px;
	color: #fff;
	font-size: 2.5em;
	font-weight: 100;
	text-shadow: none;
	line-height: normal;
}

#inner section h1 span {
	margin-left: -3.5%;
	background: url('../images/dark-wood.png') fixed;
	padding: 0 1.6625%;
}

#inner section h2 {
	margin-top: 20px;
	margin-bottom: 10px;
}

section div {
	float: left;
	margin-right: 2.083333%;
	margin-bottom: 15px;
	border: 10px solid #333;
}

#inner section img {
	max-width: 100%;
	display: block;
}

#inner section p {
	text-align: justify;
}

/* Intro */

#intro div {
	float: right;
	margin-left: 2.083333%;
	width: 26.041667%;
}

#intro div img {
	margin: 0;
	border: none;
}

#inner #intro h1 {
	clear: none;
	margin-top: 0;
	font-size: 4em;
	font-weight: 200;
	font-family: "Mr Dafoe", cursive;

}

#intro a {
	float: left;
	margin-top: 15px;
	margin-bottom: 60px;
	padding: 10px 60px; /* button should not scale using % */
	border: 4px solid #8b4513;
	color: #fff;
	text-shadow: none;
	text-decoration: none;
	font-size: 1.65em;
	font-weight: 100;
	background: url('../images/dark-wood.png') fixed;
}

#intro a:hover {
	border: 4px dashed #333;
}

#intro a:active {
	border: 4px dashed #fff;
}

/* Brewer */

#brewer div {
	width:56.770833%;
}

#brewer dl {
	margin-bottom: 15px;
}

#brewer dt {
	font-size: 1.286em;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 10px;
}

#brewer p {
	clear: both;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
}

/* Beans */

#beans div {
	width: 33.333333%;
}

/* Brewing */

#brewing div {
	width: 23.958333%;
}

#brewing ol {
	clear: both;
	font-size: 1.143em;
	font-weight: 500;
}

#brewing ol li {
	margin-bottom: 8px;
}

#brewing ol span {
	font-weight: 300;
	font-size: 1em;
	padding-left: .208333%;
}

/* Photos */

#inner #photos div {
	margin: 0;
	margin-right: -10px; /*should not scale using % as this is to eliminate double borders, which have px widths */
	max-width: 100%;
}

#photo1 {
	width: 20%;
}

#photo2, #photo3 {
	width: 19%
}

#photo4 {
	width: 35%;
}

/* Back to top link */

#to-top {
	margin-top: 60px;
	text-align: center;
}

#to-top a {
	padding: 4px 20px; /* button should not scale using % */
	border: 4px solid #8b4513;
	border-bottom: none;
	color: #fff;
	text-shadow: none;
	text-decoration: none;
	font-size: 1.286em;
	font-weight: 100;
	background: url('../images/dark-wood.png') fixed;
}

#to-top a:hover {
	border: 4px dashed #333;
	border-bottom: none;
}

#to-top a:active {
	border: 4px dashed #fff;
	border-bottom: none;
}

/* Under inner */

#under {
	padding-bottom: 0;
	position: relative;
	color: #fff;
	text-shadow: none;
}

#under-bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('../images/white-texture.png');
	opacity: 0.15;
}

#under h3 {
	margin-bottom: 50px;
	font-family: "Mr Dafoe", cursive;
	font-size: 2.25em;
}

#under #table {
	float: left;
	width: 440px;
}

#under table {
	background: url('../images/white-texture.png');
	border: 4px solid #8b4513;
	border-collapse: collapse;
}

#under table th {
	padding: 15px 5%;
	background: #333;
	font-family: "helvetica neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 1.8em;
	line-height: 1.5em;
}

#under table th span {
	font-family: "Mr Dafoe", cursive;
	font-size: 1.5em;
}

#under table td {
	padding: 1.2em;
	color: #333;
	text-shadow: 1px 1px 0 white;
	text-align: center;
	font-size: 1.2em;
}

#under table .premium {
	padding: .5em 1em;
}

#under table #premium-header {
	background: url('../images/dark-wood.png') fixed;
	font-size: 2.4em;
}

#under #form {
	margin-left: 475px;
	width: 396px;
}

#under #form form div {
	padding: 10px 0;
}

#under #form form p span {
	font-size: .9em;
}

#under #form form p a {
	color: #8b4514;
	font-weight: 500;
}

#under #form label {
	float: left;
	margin-right: 3%;
	width: 90px;
	font-size: 1.25em;
	text-align: right;
	display: block;
}

#name-first, #name-last, #email {
	width: 275px;
	height: 20px;
	font-size: .95em;
	padding-left: 5px;
}

#agreement {
	margin-left: 0;
	width: 15px;
	height: 15px;
}

#signup-btn {
	margin-top: 15px;
	margin-left: 100px;
	padding: 8px 60px; /* button should not scale using % */
	border: 4px solid #8b4513;
	color: #fff;
	text-shadow: none;
	text-decoration: none;
	font-family: "helvetica neue", helvetica, arial, sans-serif;
	font-size: 1.8em;
	font-weight: 100;
	background: url('../images/dark-wood.png') fixed;
}

#signup-btn:hover {
	border: 4px dashed #333;
}

#signup-btn:active {
	border: 4px dashed #fff;
}

/* Footer */

footer {
	text-align: center;
	color: white;
	margin: 20px 0;
}

/* Media Queries
=======================================================================*/

/* Tablet Portrait Size to Standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {
	header h1 {
		float: none;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	
	nav ul {
		clear: both;
		float: none;
		margin: 0;
		margin-top: 20px;
		padding: 0;
		text-align: center;
	}
	
	nav a:hover {
		display: none;
	}
	
	nav a:active {
		display: none;
	}

	#inner p {
		font-size: 1.1em;
	}
	
	#intro a {
		padding: 12px 55px;
		font-size: 1.6em;
	}
	
	#under #table {
		float: none;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	
	#under #form {
		margin: 0 auto;
		clear: both;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	header h1 {
		float: none;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	
	nav ul {
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	nav li {
		display: block;
		margin: 0;
	}
	
	nav a {
		font-size: 3em;
		line-height: 60px;
	}
	
	nav a:hover {
		display: none;
	}
	
	nav a:active {
		display: none;
	}

	#inner p {
		font-size: 1.2em;
	}
	
	
	#inner section div, #inner #photos {
		display: none;
		border: none;
	}
	
	#inner #intro h1 {
		font-size: 3.5em;
	}	
	
	#intro a {
		float: none;
		padding: 14px 80px;
		text-align: center;
		font-size: 2em;
		display: block;
	}
	
	#brewer p {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	
	#under #table {
		float: none;
		margin: 0 auto;
		margin-bottom: 40px;
		width: 100%;
	}
	
	#under #form {
		margin: 0 auto;
		clear: both;
		width: 100%;
	}
	
	#name-first, #name-last, #email {
	width: 70%;
	}

	#signup-btn {
		float: none;
		padding: 12px 95px;
		text-align: center;
		font-size: 2em;
		display: block;
	}	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	#inner, #under {
		border-left: none;
		border-right: none;
	}
	
	header h1 {
		float: none;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	
	nav ul {
		float: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	
	nav li {
		display: block;
		margin: 0;
	}

	nav a {
		font-size: 3em;
		line-height: 60px;
	}
	
	nav a:hover {
		display: none;
	}
	
	nav a:active {
		display: none;
	}

	#inner p {
		font-size: 1.2em;
	}
	
	#inner section div, #inner #photos {
		display: none;
		border: none;
	}
	
	#inner #intro h1 {
		font-size: 2.6em;
	}
	
	#intro a {
		float: none;
		padding: 14px 80px;
		text-align: center;
		font-size: 1.4em;
		display: block;
	}
	
	#brewer p {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	
	#under p {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	
	#under #table {
		float: none;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	
	#under table td {
	font-size: 1em;
	}
	
	#under table .premium {
	padding: .5em .4em;
	}
	
	#under #form {
		margin: 0 auto;
		clear: both;
		width: 385px;
	}
	
	#name-first, #name-last, #email {
	width: 215px;
	}
	
	#signup-btn {
		float: none;
		padding: 10px auto;
		width: 230px;
		text-align: center;
		font-size: 2em;
		display: block;
	}
}